<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<p>Hello World</p>
<form id="file-form" enctype="multipart/form-data">
    <input type="file" name="fileToAnalyze" />
    <input type="submit" value="Send" />
</form>
<script src="js/scripts.js"></script>
</body>
</html>